@use '../settings' as s;

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scaleY(3);
  }
}
@mixin animated-bounceOutUp (
  $count: s.$count,
  $duration: s.$duration,
  $delay: s.$delay,
  $timing-function: s.$timing-function,
  $fill-mode: s.$fill-mode,
  $visibility: s.$visibility)
{
  /** please use prefixer to add navigator prefixes */
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $timing-function;
  animation-fill-mode: $fill-mode;
  backface-visibility: $visibility;
  animation-name: bounceOutUp;
}

%bounceOutUp {
    @include animated-bounceOutUp;
}