//constants
// https://www.color-name.com/
$white: #FFFFFF;
$black: #000000;
$dark-charcoal: #333333;
$pale-pink: #F1DEDE;
$black-shadows: #BBACC1;
$invisible: rgba(0, 0, 0, 0);

$bootstrap-breakpoints: (
    "xs": 0px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);


// breakpoints
$breakpoints: $bootstrap-breakpoints;

// body
$main-color: #000;
$main-bg-color: #fff;

$main-heading-color: #333;
$main-content-color: #000;

// header
$header-color: #333;
$header-bg-color: #FFF;
$header-hover-color: #333;

// pink button
$pink-btn-color: #F1DEDE;
$pink-btn-bg-color: #BBACC1;
$pink-btn-border: none;
$pink-btn-hover-color: #FFF;
$pink-btn-hover-bg-color: #BBACC1;
$pink-btn-hover-border: 1px solid #F1DEDE;

// featured news
$featured-news-main-heading-color: #BBACC1;
$featured-news-bg-color: #333;
$featured-news-title-color: #F1DEDE;
$featured-news-title-hover-color: #FFF;
$featured-news-color: #FFF;
$featured-news-separator-color: #FFF;

// Cards
// https://flowbite.com/docs/components/card/
$card-heading-color: #333;
$card-title-color: #BBACC1;
$card-title-hover-color: #F1DEDE;
$card-content-color: $black;
$card-bg-color: #FFF;