//constants
// https://www.color-name.com/
$white: #FFFFFF;
$black: #000000;
$dark-charcoal: #333333;
$pale-pink: #F1DEDE;
$black-shadows: #BBACC1;
$box-shadow: 0px 4px 4px #00000040;
$transparent: #00000000;

// body
$main-color: #000;
$main-bg-color: #fff;

$main-heading-color: #333;
$main-content-color: #000;
// header
$header-color: #333;
$header-bg-color: #FFF;
$header-hover-color: #333;

// pink button
$pink-btn-color: #F1DEDE;
$pink-btn-bg-color: #BBACC1;
$pink-btn-border: 1px solid #BBACC1;
$pink-btn-hover-color: #FFF;
$pink-btn-hover-bg-color: #BBACC1;
$pink-btn-hover-border: 1px solid #333;
$ping-btn-box-shadow: 0px 4px 4px #00000040;

// featured news
$featured-news-main-heading-color: #BBACC1;
$featured-news-bg-color: #333;
$featured-news-title-color: #F1DEDE;
$featured-news-title-hover-color: #FFF;
$featured-news-color: #FFF;
$featured-news-separator-color: #FFF;

// Cards
// https://flowbite.com/docs/components/card/
$card-heading-color: #333;
$card-title-color: #BBACC1;
$card-title-hover-color: #F1DEDE;
$card-content-color: #000;
$card-bg-color: #FFF;

// Overlay
$overlay-bg-color: #000;
$overlay-color: #CCC;
$overlay-hover-color: #FFF;