//constants
// https://www.color-name.com/
$white: #FFFFFFFF;
$black: #000000FF;
$darkCharcoal: #333333FF;
$palePink: #F1DEDEFF;
$blackShadows: #BBACC1FF;
$invisible: #00000000;

$bootstrap-breakpoints: (
    "xs": 0px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);