/**
 * Main styles
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
#border-box {
  box-sizing: border-box;
}

#no-overflow, .container, .card {
  overflow: hidden;
}

html {
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

[hidden],
[hidden] * {
  display: none !important;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: __remify(1200px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 0;
}

header {
  height: __remify(60px);
  margin-top: 4rem;
  color: #333;
  background: #FFF;
}
header a {
  color: #333;
}
header a:hover, header a:active {
  color: #333;
}
header nav {
  text-align: center;
  font-size: __remify(17px);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(21px);
}
header nav a {
  padding: 0.75rem 1rem;
  position: relative;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
@media (min-width: 768px) {
  header:not(.open) .nav-btn {
    display: none;
  }
}

#main {
  font-size: __remify(15px);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(25px);
}
#main > .article {
  color: #000;
  padding-bottom: 2rem;
}
#main > .article .picture {
  overflow: hidden;
  width: 100%;
}
#main > .article .picture img {
  width: 100%;
  height: __remify(324px);
  object-position: center;
  object-fit: cover;
}
#main > .article .heading {
  font-size: __remify(60px);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(60px);
  color: #333;
}
@media (min-width: 768px) {
  #main > .article {
    width: __remify(793px);
    margin-bottom: 0;
  }
}
#main .news-inner {
  padding: 2rem;
  background-color: #333;
  color: #FFF;
}
#main .news-inner > .heading {
  font-size: __remify(40px);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(60px);
  color: #BBACC1;
}
#main .news-inner .article {
  padding: 1rem 0;
}
#main .news-inner .article .heading {
  font-size: __remify(19px);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(25px);
  color: #F1DEDE;
  text-transform: capitalize;
}
#main .news-inner .article .heading:hover, #main .news-inner .article .heading:active {
  color: #FFF;
}
#main .news-inner .article:not(:last-of-type)::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #FFF;
  display: inline-block;
  padding-left: auto;
  padding-right: auto;
}
@media (min-width: 768px) {
  #main .news {
    margin-left: 1rem;
  }
}

/**
 * Pink Button
 */
.btn {
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
  font-size: __remify(17px);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(25px);
  padding: __remify(8px) __remify(24px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.btn:hover, .btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.btn.btn-pink {
  border: 1px solid #BBACC1;
  color: #F1DEDE;
  background-color: #BBACC1;
}
.btn.btn-pink:hover, .btn.btn-pink:active {
  color: #FFF;
  background: #BBACC1;
  border: 1px solid #333;
}

/**
 * Cards
 */
.card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: __remify(350px);
  height: __remify(139px);
}
.card .thumb {
  width: __remify(109px);
  height: __remify(139px);
  object-position: center;
  object-fit: cover;
}
.card .content {
  float: left;
  width: __remify(241px);
  color: #000;
  padding: __remify(5px) 0 0 __remify(24px);
}
.card .content .heading {
  font-size: __remify(31px);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(25px);
  color: #333;
  margin-bottom: 0.75rem;
}
.card .content .title {
  font-size: __remify(19px);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: __remify(25px);
  color: #BBACC1;
  text-transform: capitalize;
}
.card .content .title:hover, .card .content .title:active {
  color: #F1DEDE;
}
.card .content p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/**
 * Hamburger Menu
 */
.nav-btn {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: visible;
}
.nav-btn .burger-btn {
  width: 20px;
  height: 5px;
  display: inline-block;
  background-color: #333;
  margin: 25px 0 0 20px;
}
.nav-btn .burger-btn::before, .nav-btn .burger-btn::after {
  transition: 0.75s;
  position: absolute;
  background-color: #333;
  content: "";
  left: 0px;
  height: 5px;
}
.nav-btn .burger-btn::before {
  width: 40px;
  top: 12.5px;
}
.nav-btn .burger-btn::after {
  width: 40px;
  top: 0px;
}

/**
 * Mobile Menu
 */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow-y: scroll;
  background-color: #000;
  color: #CCC;
}
.overlay header {
  background-color: rgba(0, 0, 0, 0);
  color: #CCC;
}
.overlay header a {
  color: #CCC;
}
.overlay header a:hover, .overlay header a:active {
  color: #FFF;
}
.overlay header .logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.overlay header .logo:hover img {
  -webkit-filter: invert(100%) contrast(100);
  filter: invert(100%) contrast(100);
}
.overlay header .burger-btn,
.overlay header .burger-btn::before,
.overlay header .burger-btn::after {
  background: #CCC;
}
.overlay header nav {
  position: absolute;
  top: 10rem;
  left: 5vw;
  width: 90%;
  height: calc(100vh - 10rem - 5vh);
  z-index: 98;
  overflow-y: scroll;
  display: block;
  font-size: 3rem;
  line-height: 4rem;
}
.overlay header nav a {
  display: block;
  text-align: left;
}
.overlay header.open .nav-btn .burger-btn {
  width: 0;
}
.overlay header.open .nav-btn .burger-btn::before {
  transform: rotate(45deg);
}
.overlay header.open .nav-btn .burger-btn::after {
  transform: rotate(-45deg);
  top: 12.5px;
}
.overlay header.open .nav-btn:hover .burger-btn,
.overlay header.open .nav-btn:hover .burger-btn::before,
.overlay header.open .nav-btn:hover .burger-btn::after {
  background: #FFF;
}

/**
 * Flexify Contents
 */
.flexbox header {
  align-items: center;
}
.flexbox header .logo {
  margin-right: auto;
}
@media (min-width: 768px) {
  .flexbox header nav {
    display: flex;
    justify-items: center;
    align-items: flex-start;
  }
}
.flexbox .container {
  display: flex;
}
.flexbox #main {
  flex-direction: column;
}
@media (min-width: 768px) {
  .flexbox #main {
    flex-direction: row;
  }
}
.flexbox .news-inner {
  display: flex;
  flex-direction: column;
}
.flexbox .news-inner .heading {
  margin-bottom: auto;
}
.flexbox .related {
  flex-direction: column;
}
@media (min-width: 992px) {
  .flexbox .related {
    flex-direction: row;
    justify-content: space-between;
  }
}
.flexbox .card {
  display: flex;
}
.flexbox .overlay nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flexbox .overlay nav a {
  display: unset;
}

/*# sourceMappingURL=bundle.css.map */
