@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
.related .card, .main-article .picture, .container {
  overflow: hidden;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

[hidden],
[hidden] * {
  display: none !important;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #000;
  background-color: #fff;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 2rem 2rem 0;
  width: 370px;
}

p {
  font-size: 15px;
  line-height: 25px;
  padding: 1rem 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.container + .container {
  margin-top: 1rem;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.menu-shown:not(.menu-closing) .nav a {
  animation-name: backInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes backOutRight {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
}
.menu-closing .nav a {
  animation-name: backOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
.menu-closing .nav {
  animation-name: slideOutUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.menu-shown:not(.menu-closing) .nav {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.menu-shown:not(.menu-closing) .overlay {
  animation-name: fadeInBottomRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeOutBottomRight {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
}
.menu-closing .overlay {
  animation-name: fadeOutBottomRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 42px;
  color: #333;
  background: #FFF;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header a {
  color: #333;
}
header a:hover, header a:active {
  color: #333;
}
header .logo {
  margin-right: auto;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
}
header .nav-btn {
  width: 40px;
  height: 40px;
}

body:not(.menu-shown) .nav {
  display: none;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  justify-content: flex-end;
  align-items: flex-start;
}
body:not(.menu-shown) .nav a {
  padding: 0.75rem 0;
  margin-right: 2rem;
  position: relative;
}
body:not(.menu-shown) .nav a:last-child {
  margin-right: 0;
}
body:not(.menu-shown) .nav a:before {
  position: absolute;
  content: "";
  bottom: 0.25rem;
  left: 50%;
  right: 50%;
  height: 3px;
  background: #333;
  transition: 0.5s;
}
body:not(.menu-shown) .nav a:hover, body:not(.menu-shown) .nav a:active, body:not(.menu-shown) .nav a.active {
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
body:not(.menu-shown) .nav a:hover:before, body:not(.menu-shown) .nav a:active:before, body:not(.menu-shown) .nav a.active:before {
  left: 5%;
  right: 5%;
}

.menu-shown .logo {
  position: absolute;
  top: 40px;
  left: 5vw;
  z-index: 3;
}
.menu-shown .logo img {
  filter: invert(100%);
}
.menu-shown .logo:hover img {
  filter: invert(100%) contrast(100);
}
.menu-shown .nav-btn {
  position: absolute;
  top: 40px;
  right: 5vw;
  z-index: 3;
  display: inline;
  display: initial;
  color: #CCC;
}
.menu-shown .nav-btn:hover {
  color: #FFF;
}
.menu-shown .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #29232b;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50vh 25vw 5vh 5vw;
}
.menu-shown .nav a {
  display: inline-block;
  color: #CCC;
  text-align: left;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.menu-shown .nav a:hover, .menu-shown .nav a:active {
  font-size: 44px;
  color: #FFF;
}

.overlay {
  position: fixed;
  z-index: 104;
  bottom: 0;
  right: 0;
  width: 175px;
  height: 175px;
}

.menu-shown:not(.menu-closing) .nav {
  animation-duration: 400ms;
  animation-delay: 0s;
}
.menu-shown:not(.menu-closing) .nav a {
  animation-duration: 500ms;
  animation-delay: 400ms;
}
.menu-shown:not(.menu-closing) .nav a:nth-child(2) {
  animation-delay: 525ms;
}
.menu-shown:not(.menu-closing) .nav a:nth-child(3) {
  animation-delay: 550ms;
}
.menu-shown:not(.menu-closing) .nav a:nth-child(4) {
  animation-delay: 575ms;
}
.menu-shown:not(.menu-closing) .nav a:nth-child(5) {
  animation-delay: 600ms;
}
.menu-shown:not(.menu-closing) .overlay {
  animation-delay: 800ms;
  animation-duration: 400ms;
}

.corner {
  z-index: 105;
  width: 250px;
  height: 250px;
  overflow: visible;
  position: fixed;
}
.corner::before {
  content: "";
  position: absolute;
  z-index: 105;
  background-color: rgba(187, 172, 193, 0.5019607843);
  color: #F1DEDE;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.corner a {
  color: #F1DEDE;
  transition: 0.5s;
  display: flex;
  margin: 0;
  position: absolute;
  z-index: 106;
}
.corner a > * {
  width: 62.5px;
  height: 62.5px;
}
.corner a:hover > * {
  transform: scale(1.2);
  visibility: visible;
  transition: 0.5s;
}
.corner:not([class*=pos-]), .corner.pos-tl {
  left: -125px;
  top: -125px;
}
.corner:not([class*=pos-])::before, .corner.pos-tl::before {
  transform: rotate(-45deg);
}
.corner:not([class*=pos-]) a, .corner.pos-tl a {
  bottom: 41.6666666667px;
  right: 41.6666666667px;
}
.corner.pos-tr {
  right: -125px;
  top: -125px;
}
.corner.pos-tr::before {
  transform: rotate(45deg);
}
.corner.pos-tr a {
  bottom: 41.6666666667px;
  left: 41.6666666667px;
}
.corner.pos-br {
  right: -125px;
  bottom: -125px;
}
.corner.pos-br::before {
  transform: rotate(-45deg);
}
.corner.pos-br a {
  top: 41.6666666667px;
  left: 41.6666666667px;
}
.corner.pos-bl {
  left: -125px;
  bottom: -125px;
}
.corner.pos-bl::before {
  transform: rotate(45deg);
}
.corner.pos-bl a {
  top: 41.6666666667px;
  right: 41.6666666667px;
}

.menu-closing .nav {
  animation-delay: 800ms;
  animation-duration: 200ms;
  animation-play-state: running;
}
.menu-closing .nav a {
  animation-duration: 300ms;
  animation-delay: 300ms;
}
.menu-closing .nav a:nth-child(2) {
  animation-delay: 325ms;
}
.menu-closing .nav a:nth-child(3) {
  animation-delay: 350ms;
}
.menu-closing .nav a:nth-child(4) {
  animation-delay: 375ms;
}
.menu-closing .nav a:nth-child(5) {
  animation-delay: 400ms;
}
.menu-closing .overlay {
  animation-delay: 0s;
  animation-duration: 300ms;
}

body .burger-btn {
  transition: 1s;
}
body .burger-btn rect {
  transition: 0.75s;
}
body.menu-shown .nav-btn {
  position: absolute;
}
body.menu-shown:not(.menu-closing) .burger-btn {
  rotate: -45deg;
}
body.menu-shown:not(.menu-closing) .burger-btn :nth-child(1) {
  rotate: 90deg;
  y: -22px;
}
body.menu-shown:not(.menu-closing) .burger-btn :nth-child(2) {
  y: 18px;
}
body.menu-shown:not(.menu-closing) .burger-btn :nth-child(3) {
  rotate: 90deg;
  x: 0;
  y: -22px;
}
body.menu-shown.menu-closing .burger-btn {
  rotate: 0;
}

.main-article .picture {
  width: 100%;
}
.main-article .picture img {
  width: 100%;
  height: 324px;
  object-position: center;
  object-fit: cover;
}
.main-article .article {
  margin: 2rem 0;
  max-width: 793px;
  color: #000;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.main-article .article .heading {
  color: #333;
}

.btn {
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2509803922);
}
.btn:hover, .btn:active {
  box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2509803922);
}
.btn.btn-pink {
  border: 1px solid #BBACC1;
  color: #F1DEDE;
  background-color: #BBACC1;
}
.btn.btn-pink:hover, .btn.btn-pink:active {
  color: #FFF;
  background: #BBACC1;
  border: 1px solid #333;
}

.featured-news .news {
  padding: 2rem;
  background-color: #333;
  color: #FFF;
}
.featured-news .news .news-heading {
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
  color: #BBACC1;
}
.featured-news .news .news-item {
  padding-top: 2rem;
}
.featured-news .news .news-item .news-title {
  font-size: 19px;
  line-height: 25px;
  font-weight: 900;
  color: #F1DEDE;
  text-transform: capitalize;
}
.featured-news .news .news-item .news-title:hover, .featured-news .news .news-item .news-title:active {
  color: #FFF;
}
.featured-news .news .news-item:not(:last-of-type) {
  border-bottom: 1px solid #FFF;
}

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#main .main-article {
  display: flex;
  flex-direction: column;
}
#main .news {
  flex-direction: column;
  flex-shrink: 1 0 auto;
}

.related {
  flex-direction: column;
  justify-content: space-between;
}
.related .card {
  display: flex;
  flex-direction: row;
  height: 139px;
  width: 350px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.related .card .card-img {
  margin-right: 1.5rem;
}
.related .card .card-img img {
  object-position: center;
  object-fit: cover;
  width: 109px;
  height: 139px;
}
.related .card .card-header {
  font-size: 31px;
  line-height: 25px;
  font-weight: 900;
  color: #333;
}
.related .card .card-title {
  font-size: 19px;
  line-height: 25px;
  font-weight: 900;
  text-transform: capitalize;
  color: #BBACC1;
}
.related .card .card-title:hover, .related .card .card-title:active {
  color: #F1DEDE;
}
.related .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.related .card .card-body > * {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px){
  header .nav-btn {
    display: none;
  }
  body:not(.menu-shown) .nav {
    display: flex;
  }
}

@media (min-width: 992px){
  .main-article .picture {
    aspect-ratio: 793/324;
  }
  .main-article .article {
    flex-direction: row;
    margin: 2rem 0 0 0;
  }
  .main-article .article h1 {
    margin-bottom: 0;
  }
  .main-article .article .excerpt {
    max-width: 390px;
  }
  #main {
    flex-direction: row;
  }
  #main .main-article {
    padding-right: 1rem;
  }
  .related {
    flex-direction: row;
  }
}

/*# sourceMappingURL=bundle.css.map */