/**
 * Made using https://docs.gerillass.com
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
#border-box {
  box-sizing: border-box;
}

#no-overflow, .card, .container {
  overflow: hidden;
}

/**
 * From https://getbootstrap.com/docs/5.0/layout/containers/
 */
/**
 * Main styles
 */
html {
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vw;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 0;
}

header {
  height: 3.75rem;
  margin-top: 4rem;
  color: #333;
  background: #FFF;
}
header a {
  color: #333;
}
header a:hover, header a:active {
  color: #333;
}
header nav {
  text-align: center;
  font-size: 1.0625rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3125rem;
}
header nav a {
  padding: 0.75rem 1rem;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header .logo {
  z-index: 999;
}
header .nav-btn {
  z-index: 999;
}
@media (min-width: 768px) {
  header .nav-btn {
    display: none;
  }
}

#main {
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5625rem;
}
#main > .article {
  color: #000;
  margin-bottom: 2rem;
}
#main > .article .picture {
  overflow: hidden;
  width: 100%;
}
#main > .article .picture img {
  width: 100%;
  height: 20.25rem;
  object-position: center;
  object-fit: cover;
}
#main > .article .heading {
  font-size: 3.75rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75rem;
  color: #333;
}
@media (min-width: 768px) {
  #main > .article {
    width: 49.5625rem;
    margin-bottom: 0;
  }
}
#main .news {
  padding: 2rem;
  background-color: #333;
  color: #FFF;
}
#main .news > .heading {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.75rem;
  color: #BBACC1;
}
#main .news .article {
  padding: 1rem 0;
}
#main .news .article .heading {
  font-size: 1.1875rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5625rem;
  color: #F1DEDE;
  text-transform: capitalize;
}
#main .news .article .heading:hover, #main .news .article .heading:active {
  color: #FFF;
}
#main .news .article:not(:last-of-type)::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #FFF;
  display: inline-block;
  padding-left: auto;
  padding-right: auto;
}
@media (min-width: 768px) {
  #main .news {
    margin-left: 1rem;
  }
}

/**
 * Pink Button
 */
.btn {
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.0625rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5625rem;
  padding: 0.5rem 1.5rem;
}
.btn.btn-pink {
  border: none;
  color: #F1DEDE;
  background-color: #BBACC1;
}
.btn.btn-pink:hover, .btn.btn-pink:active {
  color: #FFF;
  background: #BBACC1;
}

/**
 * Cards
 */
.card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 21.875rem;
  height: 8.6875rem;
}
.card .thumb {
  float: left;
  width: 6.8125rem;
  height: 8.6875rem;
  object-position: center;
  object-fit: cover;
}
.card .content {
  float: left;
  width: 15.0625rem;
  color: #000000;
  padding: 0.3125rem 0 0 1.5rem;
}
.card .content .heading {
  font-size: 1.9375rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5625rem;
  color: #333;
  margin-bottom: 0.75rem;
}
.card .content .title {
  font-size: 1.1875rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5625rem;
  color: #BBACC1;
  text-transform: capitalize;
}
.card .content .title:hover, .card .content .title:active {
  color: #F1DEDE;
}
.card .content p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/**
 * Flexify Contents
 */
.flexbox header {
  align-items: center;
}
.flexbox header .logo {
  margin-right: auto;
}
.flexbox .container {
  display: flex;
}
.flexbox #main {
  flex-direction: column;
}
@media (min-width: 768px) {
  .flexbox #main {
    flex-direction: row;
  }
}
.flexbox .related {
  flex-direction: column;
}
@media (min-width: 768px) {
  .flexbox .related {
    flex-direction: row;
  }
}
.flexbox .card {
  display: flex;
}

/*# sourceMappingURL=bundle.css.map */
