@use '../settings' as s;

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@mixin animated-slideInLeft (
  $count: s.$count,
  $duration: s.$duration,
  $delay: s.$delay,
  $timing-function: s.$timing-function,
  $fill-mode: s.$fill-mode,
  $visibility: s.$visibility)
{
  /** please use prefixer to add navigator prefixes */
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $timing-function;
  animation-fill-mode: $fill-mode;
  backface-visibility: $visibility;
  animation-name: slideInLeft;
}

%slideInLeft {
    @include animated-slideInLeft;
}