@use '../settings' as s;

@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
@mixin animated-hinge (
  $count: s.$count,
  $duration: s.$duration,
  $delay: s.$delay,
  $timing-function: s.$timing-function,
  $fill-mode: s.$fill-mode,
  $visibility: s.$visibility)
{
  /** please use prefixer to add navigator prefixes */
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $timing-function;
  animation-fill-mode: $fill-mode;
  backface-visibility: $visibility;
  animation-duration: calc(var(--animate-duration) * 2);
  animation-name: hinge;
  transform-origin: top left;
}

%hinge {
    @include animated-hinge;
}