@use '../helpers' as *;



.container,
.card {
    display: flex;
}

#main {
    flex-direction: column;

    @include md {
        flex-direction: row;
    }
}




.news-inner {
    display: flex;
    flex-direction: column;

    .news-heading {
        margin-bottom: auto;
    }

    .card {
        flex-direction: column;

    }
}

.related {
    flex-direction: column;

    @include lg {
        flex-direction: row;
        justify-content: space-between;
    }
}




header {
    align-items: center;

    @include md {
        nav {
            display: flex;
            justify-items: center;
            align-items: flex-start;
        }

    }
}