@use '../helpers' as *;
@use '../components' as *;


.container,
.article,
.card {
    display: flex;
}




header {
    align-items: center;

    @include lg {
        nav {
            display: flex;
            justify-items: center;
            align-items: flex-start;
        }

    }
}

.main-article {
    flex-direction: column;

    @include lg {
        flex-direction: row;
    }
}

.article {

    padding-left: 1rem;
    flex-direction: column;

    @include lg {
        flex-direction: row;
    }
}


.news-inner {
    display: flex;
    flex-direction: column;

    .news-heading {
        margin-bottom: auto;
    }

    .card {
        flex-direction: column;

    }
}

.related {
    flex-direction: column;

    @include lg {
        flex-direction: row;
        justify-content: space-between;
    }
}






@include generate-grid;