@use '../helpers' as *;
@use 'main-article' as *;
@use 'featured-news' as *;


#main
{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .main-article
    {
        display: flex;
        flex-direction: column;

    }

    .news
    {
        flex-direction: column;
        flex-shrink: 1 0 auto;
    }

    @include lg
    {
        flex-direction: row;

        .main-article
        {
            padding-right: 1rem;
        }
    }

}

@include main-article;
@include featured-news;