@use '../helpers' as *;
@use 'variables' as *;
@import 'gerillass';
@import '../animations/fadeInRightBig';
@import '../animations/fadeOutRightBig';
@import '../animations/zoomIn';
@import '../animations/zoomOut';

@import '../animations/fadeIn';
@import '../animations/fadeOut';



.overlay {

    @include overlay;

    @include visually-hidden;



    margin: 0;
    max-width: unset;

    a {
        color: $overlay-color;


        &:hover,
        &:active {
            color: $overlay-hover-color;
        }
    }

    .logo {
        img {
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }

        &:hover img {
            -webkit-filter: invert(100%) contrast(100);
            filter: invert(100%) contrast(100);
        }
    }


    .header-inner {
        margin: 2.5rem 5vw 1rem 5vw;
    }


    // @include zoomOut;

    @include fadeOut;

    &.open {

        background-color: $overlay-bg-color;
        color: $overlay-color;
        z-index: 100;
        visibility: visible;
        //@include zoomIn;
        @include fadeIn;


        nav {
            @include overlay(14.75rem, 5vw, 90vw, calc(95vh - 14.75rem));
            display: block;
            max-height: 95vh;
            font-size: 2.5rem;
            line-height: 3rem;
            width: 75vw;
            @include fadeInRightBig;

            a {
                display: block;
                text-align: left;

                &:before {
                    content: none;
                }

                &:hover,
                &:active {
                    font-size: 2.75rem;
                }
            }
        }

    }


    &:not(.closing) .burger-btn {

        rotate: -45deg;

        :nth-child(1) {
            rotate: 90deg;
            y: -1.375rem;
        }

        :nth-child(2) {
            y: 1.125rem;
        }

        :nth-child(3) {
            rotate: 90deg;
            x: 0;
            //color: $transparent;
            // width: 0;

            y: -1.375rem;
        }

    }

    &.closing {
        .burger-btn {
            rotate: 0;
        }

        nav {
            @include fadeOutRightBig;
        }

    }


}