@mixin burger-btn-animation
{
    body
    {

        .burger-btn
        {
            transition: 1s;

            rect
            {
                transition: .75s;
            }
        }


        &.menu-shown
        {
            .nav-btn
            {
                position: absolute;

            }

            &:not(.menu-closing) .burger-btn
            {

                rotate: -45deg;

                :nth-child(1)
                {
                    rotate: 90deg;
                    y: -22px;
                }

                :nth-child(2)
                {
                    y: 18px;
                }

                :nth-child(3)
                {
                    rotate: 90deg;
                    x: 0;
                    y: -22px;
                }

            }

            &.menu-closing
            {
                .burger-btn
                {
                    rotate: 0;
                }
            }
        }

    }
}