.card {

  @include margin-y(1.5rem);

  @include sizer(__remify(350px), __remify(139px));
  @extend %no-overflow;

  .thumb {
    @include sizer(__remify(109px), __remify(139px));

    object: {
      position: center;
      fit: cover;
    }
  }

  .content {
    float: left;
    width: __remify(241px);
    color: $card-content-color;

    padding: __remify(5px) 0 0 __remify(24px);

    .heading {
      @include font-size(__remify(31px), __remify(25px), 900);
      color: $card-heading-color;
      margin-bottom: .75rem;

    }

    .title {
      @include font-size(__remify(19px), __remify(25px), 900);
      color: $card-title-color;

      text-transform: capitalize;

      &:hover,
      &:active {
        color: $card-title-hover-color;
      }

    }

    p {
      @include margin-y(.5rem);
    }

  }

}