@use "sass:math";

// https://github.com/warengonzaga/fork-corner


$default-corner-size: 200px !default;
$small-corner-size: 150px !default;
$medium-corner-size: 250px !default;
$large-corner-size: 300px !default;
$default-icon-color: #fff !default;
$default-bg-color: #f34f29 !default;
$github-icon-color: #fff !default;
$github-bg-color: #181717 !default;
$gitlab-icon-color: #fff !default;
$gitlab-bg-color: #e24329 !default;
$bitbucket-icon-color: #fff !default;
$bitbucket-bg-color: #205081 !default;


@mixin corner($size: $default-corner-size, $background-color: $default-bg-color, $color: $default-icon-color, $z-index: 105)
{

    $pos: math.div($size, 2);
    $isize: math.div($size, 4);
    $ipos: math.div($isize, 1.5);

    z-index: $z-index;
    width: $size;
    height: $size;
    overflow: visible;

    &::before
    {
        content: '';
        position: absolute;
        z-index: $z-index;

        background-color: $background-color;
        color: $color;
        overflow: hidden;

        width: $size;
        height: $size;


    }


    a
    {
        color: $color;
        transition: 0.5s;
        display: flex;
        margin: 0;
        //padding: $ipos;
        position: absolute;
        z-index: $z-index + 1;




        > *
        {
            width: $isize;
            height: $isize;
        }

        &:hover > *
        {
            transform: scale(1.2);
            visibility: visible;
            transition: 0.5s;
        }
    }

    &:not([class*="pos-"]),
    &.pos-tl
    {


        left: -$pos;
        top: -$pos;

        &::before
        {
            transform: rotate(-45deg);
        }


        a
        {
            bottom: $ipos;
            right: $ipos;
        }


    }

    &.pos-tr
    {

        right: -$pos;
        top: -$pos;


        &::before
        {
            transform: rotate(45deg);
        }

        a
        {
            bottom: $ipos;
            left: $ipos;
        }
    }



    &.pos-br
    {

        right: -$pos;
        bottom: -$pos;

        &::before
        {

            transform: rotate(-45deg);
        }

        a
        {
            top: $ipos;
            left: $ipos;
        }

    }

    &.pos-bl
    {

        left: -$pos;
        bottom: -$pos;

        &::before
        {

            transform: rotate(45deg);
        }

        a
        {
            top: $ipos;
            right: $ipos;
        }

    }

    @content;


}