@use '../settings' as s;

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@mixin animated-jackInTheBox (
  $count: s.$count,
  $duration: s.$duration,
  $delay: s.$delay,
  $timing-function: s.$timing-function,
  $fill-mode: s.$fill-mode,
  $visibility: s.$visibility)
{
  /** please use prefixer to add navigator prefixes */
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $timing-function;
  animation-fill-mode: $fill-mode;
  backface-visibility: $visibility;
  animation-name: jackInTheBox;
}

%jackInTheBox {
    @include animated-jackInTheBox;
}